@model InventoryManagementApp.ViewModels.Inventory.InventoryEditViewModel

@{
    var inventory = ViewData["Inventory"] as InventoryManagementApp.Models.Inventory;
    ViewData["Title"] = "Edit Inventory";
}

<h2 class="mb-4">Edit Inventory</h2>

<form asp-action="Edit" asp-controller="Inventory" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-check mb-3">
        <input asp-for="IsPublic" class="form-check-input" />
        <label asp-for="IsPublic" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-success">💾 Save</button>
</form>

<hr />

@await Html.PartialAsync("~/Views/Inventories/CreateTabs/_Items.cshtml",
new InventoryManagementApp.ViewModels.Inventory.InventoryCreateViewModel(),
    new ViewDataDictionary(ViewData) { { "Inventory", inventory } })
