@using Microsoft.AspNetCore.Identity
@inject SignInManager<InventoryManagementApp.Models.ApplicationUser> SignInManager
@inject UserManager<InventoryManagementApp.Models.ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <ul>
            <li>Hello, @User.Identity?.Name!</li>
            <li><button type="submit">Logout</button></li>
        </ul>
    </form>
}
else
{
    <ul>
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
    </ul>
}
