@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<InventoryItem>

<div class="text-center">
    <h1 class="display-4">It still a Sperma</h1>

    @foreach (var item in Model)
    {
        <ul>
            <li>@item.Id</li>
        </ul>
    }
</div>
