@model IEnumerable<Inventory>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventories from Azure DB</h1>

    @if (Model.Any())
    {
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>IsPublic</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var inventory in Model)
                {
                    <tr>
                        <td>@inventory.Id</td>
                        <td>@inventory.Title</td>
                        <td>@inventory.Description</td>
                        <td>@inventory.IsPublic</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No inventories found in the database.</p>
    }
</div>
