@model InventoryManagementApp.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form asp-action="Login" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <input asp-for="RememberMe" /> Remember me
    </div>
    <button type="submit">Login</button>
</form>
