@model InventoryManagementApp.ViewModels.Inventory.InventoryItemsViewModel

<h4>@Model.Inventory.Title – Items</h4>
<hr />

<partial name="~/Views/Inventory/CreateTabs/_Items.cshtml" model="Model" />
