@model InventoryManagementApp.ViewModels.InventoryViewModels.InventoryCreateViewModel

<div class="tab-pane fade" id="access" role="tabpanel">
    <div class="form-check mb-3">
        <input asp-for="IsPublic" class="form-check-input" type="checkbox" />
        <label asp-for="IsPublic" class="form-check-label">Make Inventory Public</label>
    </div>
</div>
