@model InventoryManagementApp.ViewModels.Inventory.InventoryCreateViewModel

<div class="tab-pane fade" id="customid" role="tabpanel">
    <p>CustomID in progress...</p>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary next-tab" data-next="#fields">Next</button>
    </div>
</div>
