@model InventoryManagementApp.ViewModels.InventoryViewModels.InventoryCreateViewModel

<div class="mb-3">
    <button id="btnAddItem" class="btn btn-success" data-inventory-id="@Model.InventoryId">
        Add Item
    </button>
</div>

<div id="addItemFormContainer"></div>

<div id="itemListContainer">
    @await Html.PartialAsync("_ItemListPartial", Model.Items)
</div>

@section Scripts {
    <script>
        $(document).ready(function() {

            // Клик по Add Item
            $(document).on('click', '#btnAddItem', function(e) {
                e.preventDefault();
                var inventoryId = $(this).data('inventory-id');

                $('#addItemFormContainer').load('/Inventory/GetAddItemForm?inventoryId=' + inventoryId);
            });

            $(document).on('submit', '#addItemForm', function(e) {
                e.preventDefault();
                var $form = $(this);

                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function(result) {
                        $('#itemListContainer').html(result); 
                        $('#addItemFormContainer').empty();
                    },
                    error: function() {
                        alert('Error adding item. Please check input values.');
                    }
                });
            });

        });
    </script>
}
