@model InventoryManagementApp.ViewModels.InventoryViewModels.InventoryCreateViewModel

<div class="mb-3">
    <button id="addItemBtn" type="button" class="btn btn-success" data-inventory-id="@Model.InventoryId">
        Add Item
    </button>
</div>

<div id="addItemContainer"></div>

<div id="itemListContainer">
    @await Html.PartialAsync("_ItemListPartial", Model.Items)
</div>

@section Scripts {
    <script>
        function initItemsScript() {
            if (typeof $ === 'undefined') {
                setTimeout(initItemsScript, 50);
                return;
            }

            console.log("Items script loaded. jQuery available:", typeof $ === 'function');

            const inventoryId = @Model.InventoryId;

            @if (ViewBag.LoadAddItemForm != null && (bool)ViewBag.LoadAddItemForm)
            {
                    <text>
                    $("#addItemContainer").load('/Inventory/GetAddItemForm?inventoryId=' + @Model.InventoryId);
                    </text>
            }

            $(document).off("click", "#addItemBtn").on("click", "#addItemBtn", function (e) {
                e.preventDefault();
                $("#addItemContainer").load('/Inventory/GetAddItemForm?inventoryId=' + inventoryId);
            });

            $(document).off("submit", "#addItemForm").on("submit", "#addItemForm", function (e) {
                e.preventDefault();
                var $form = $(this);

                $.ajax({
                    url: $form.attr("action"),
                    type: "POST",
                    data: $form.serialize(),
                    success: function (result) {
                        $("#itemListContainer").html(result);
                        $("#addItemContainer").empty();
                    },
                    error: function (xhr, status, err) {
                        console.error("AddItem AJAX error:", status, err, xhr);
                        alert('Adding item error/network.');
                    }
                });
            });
        }

        initItemsScript();
    </script>
}
